<div class="container">

<div class="stats name">

  <h1><%= @character.name %></h1>
    </div>
    <div class="stats">
      <div class="d-flex justify-content-between">
        <div class="stats bio">
          <ul>
            <p>Bio:</p>
            <li>Height: <%= @character.height %></li>
            <li>Mass: <%= @character.mass %></li>
            <li>Hair Color: <%= @character.hair_color %></li>
            <li>Skin Color: <%= @character.skin_color %></li>
            <li>Eye Color: <%= @character.eye_color %></li>
            <li>Birth Yea: <%= @character.birth_year %></li>
            <li>Gender: <%= @character.gender %></li>
            <li>Birth Year: <%= @character.birth_year %></li>
          </ul>
        </div>

        <div class="image">
        <% if @character.image_url %>
          <%= image_tag @character.image_url, alt: "alttext" %>
        <% end %>
        </div>

        <div class="stats planet">
          <p>Homeworld: <%= @character.planet.name %></p>
            <ul>
              <li>rotation: <%= @character.planet.rotation_period %></li>
              <li>orbital period: <%= @character.planet.orbital_period %></li>
              <li>diameter: <%= @character.planet.diameter %></li>
              <li>climate: <%= @character.planet.climate %></li>
              <li>gravity: <%= @character.planet.gravity %></li>
              <li>terrain: <%= @character.planet.terrain %></li>
              <li>surface water: <%= @character.planet.surface_water %></li>
              <li>population: <%= @character.planet.population %></li>
            </ul>
        </div>
      </div>
      <div class="stats starship">
        Starships: <% @character.starships.each do |starship| %>

        <div class="d-flex">

          <div class="stats m-1 flip-card">

            <div class="flip-card-inner">

              <div class="flip-card-front">



<!--                 <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= starship.image_url%>);" >
 -->                <!-- <p>starship.name</p> -->
                  <%= image_tag "https://www.denofgeek.com/wp-content/uploads/2015/12/big_thumb_cd04cc40bd2e7060c7a2b417b1743b74.jpg?fit=620%2C349", alt: "alttext" %>
                  <div class="card-img-overlay">
                    <p class="card-title"><%= starship.name %></p>
                  </div>
                <!-- </div> -->
              </div>

              <%= link_to starship_path(starship) do %>
              <div class="flip-card-back">
                <ul>
                <li>model: <%= starship.model %></li>
                <li>manufacturer: <%= starship.manufacturer %></li>
                <li>cost: <%= starship.cost_in_credits %></li>
                <li>length: <%= starship.length %></li>
                <li>speed: <%= starship.max_atmosphering_speed %></li>
                <li>crew: <%= starship.crew %></li>
                <li>passengers: <%= starship.passengers %></li>
                <li>cargo: <%= starship.cargo_capacity %></li>
                <li>consumables: <%= starship.consumables %></li>
                <li>hyperdrive: <%= starship.hyperdrive_rating %></li>
                <li>class: <%= starship.starship_class %></li>
                </ul>

              </div>
              <% end %>
            </div>

          </div>
        <% end %>

        </div>

      </div>
    </div>
</div>
<%= link_to 'edit photo', edit_character_path(@character) %>
