<div class="container">

<div class="stats name">

  <h1><%= @starship.name %></h1>
    </div>
    <div class="stats">
      <div class="d-flex justify-content-between">
        <div class="stats bio">
          <ul>
            <li>model: <%= @starship.model %></li>
            <li>manufacturer: <%= @starship.manufacturer %></li>
            <li>cost: <%= @starship.cost_in_credits %></li>
            <li>length: <%= @starship.length %></li>
            <li>speed: <%= @starship.max_atmosphering_speed %></li>
            <li>crew: <%= @starship.crew %></li>
            <li>passengers: <%= @starship.passengers %></li>
            <li>cargo: <%= @starship.cargo_capacity %></li>
            <li>consumables: <%= @starship.consumables %></li>
            <li>hyperdrive: <%= @starship.hyperdrive_rating %></li>
            <li>class: <%= @starship.starship_class %></li>
          </ul>
        </div>

        <div class="image">
        <% if @starship.image_url %>
          <%= image_tag @starship.image_url, alt: "alttext" %>
        <% end %>
        </div>


      </div>
      <div class="stats starship">
        Pilots: <% @starship.characters.each do |character| %>

        <div class="d-flex">

          <div class="stats m-1 flip-card">

            <div class="flip-card-inner">

              <div class="flip-card-front">
                <p><%= link_to character.name, character_path(character) %></p>
                <img src="img_avatar.png" alt="Avatar" style="width:600px;height:600px;">
              </div>

              <%= link_to character_path(character) do %>
              <div class="flip-card-back">
                <ul>
                  <p>Bio:</p>
                  <li>Height: <%= character.height %></li>
                  <li>Mass: <%= character.mass %></li>
                  <li>Hair Color: <%= character.hair_color %></li>
                  <li>Skin Color: <%= character.skin_color %></li>
                  <li>Eye Color: <%= character.eye_color %></li>
                  <li>Birth Yea: <%= character.birth_year %></li>
                  <li>Gender: <%= character.gender %></li>
                  <li>Birth Year: <%= character.birth_year %></li>
                </ul>

              </div>
              <% end %>
            </div>

          </div>
        <% end %>

        </div>

      </div>
    </div>
</div>
<%= link_to 'edit photo', edit_starship_path(@starship) %>
